/*#region Boilerplate*/
body {
    font-family: 'Segoe UI';
    font-weight: 100;
}

.navbar-brand i {
    color: mediumseagreen;
}


/*Mobile View*/
@media (max-width: 767.98px) {

}




/*Desktop View*/
@media (min-width: 768px) {

}
/*#endregion*/



@media (min-width: 768px) {
    .account-left {
        margin-right: 10px;
    }

    .account-right {
        margin-left: 10px;
    }
}
