@page "/company/{Id}/fields"
@using UintaPine.CRM.App.Services
@using UintaPine.CRM.Model.Shared.Responses

@inject API _api

<h5>
    <NavLink href="@($"portal/{Id}")">
        &lt;&lt; Back to Portal
    </NavLink>
</h5>

<h3 class="mt-5">Company Fields</h3>

<div class="row">
    <div class="col-md-3">
        <select class="form-control">
            <option value="asdf">Customer</option>
            <option value="asdf">Sale</option>
            <option value="asdf">Inventory</option>
        </select>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <h4>Customers</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Row</th>
                    <th scope="col">Col</th>
                    <th scope="col">ColSpan</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="new-field">
                <tr>
                    <td>
                        <input type="text" class="form-control" @bind="NewField.Name" />
                    </td>
                    <td>
                        <select class="form-control" @bind="NewField.Type">
                            <option></option>
                            <option>Text</option>
                            <option>TextArea</option>
                            <option>Number</option>
                            <option>Date/Time</option>
                            <option>Boolean</option>
                            <option>Enum</option>
                            <option>Linked</option>
                        </select>
                    </td>
                    <td>
                        <input type="number" class="form-control" @bind="NewField.Row" />
                    </td>
                    <td>
                        <input type="number" class="form-control" @bind="NewField.Column" />
                    </td>
                    <td>
                        <input type="number" class="form-control" @bind="NewField.ColumnSpan" />
                    </td>
                    <td>
                        <button class="form-control btn btn-danger">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Options:</td>
                    <td colspan="4">
                        <input type="text" class="form-control" @bind="NewField.Options" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Special CSS:</td>
                    <td colspan="4">
                        <input type="text" class="form-control" @bind="NewField.CSS" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Optional:</td>
                    <td colspan="4">
                        <input type="checkbox" @bind="NewField.Optional" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="6">
                        <input type="button" class="btn btn-success float-right" value="Create Field" @onclick="CreateField" />
                    </td>
                </tr>
            </tbody>
            @foreach (var field in Company.Fields)
            {
                <tbody class="fields">
                    <tr>
                        <td>
                            <input type="text" class="form-control" @bind="field.Name" />
                        </td>
                        <td>
                            <select class="form-control" @bind="field.Type">
                                <option></option>
                                <option>Text</option>
                                <option>TextArea</option>
                                <option>Number</option>
                                <option>Date/Time</option>
                                <option>Boolean</option>
                                <option>Enum</option>
                                <option>Linked</option>
                            </select>
                        </td>
                        <td>
                            <input type="number" class="form-control" @bind="field.Row" />
                        </td>
                        <td>
                            <input type="number" class="form-control" @bind="field.Column" />
                        </td>
                        <td>
                            <input type="number" class="form-control" @bind="field.ColumnSpan" />
                        </td>
                        <td>
                            <button class="form-control btn btn-danger">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Options:</td>
                        <td colspan="4">
                            <input type="text" class="form-control" @bind="field.Options" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Special CSS:</td>
                        <td colspan="4">
                            <input type="text" class="form-control" @bind="field.CSS" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Optional:</td>
                        <td colspan="4">
                            <input type="checkbox" @bind="field.Optional" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                    <td colspan="6">
                        <input type="button" class="btn btn-success float-right" value="Update Existing Field" @onclick="CreateField" />
                    </td>
                </tr>
                </tbody>
            }
        </table>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }

    public Company Company { get; set; } = new Company();
    public Field NewField { get; set; } = new Field();

    async protected override Task OnInitializedAsync()
    {
        Company = await _api.GetCompanyById(Id);
    }

    async private Task CreateField()
    {
        var result = await _api.CreateField(Company.Id, NewField);
        if (result != null)
        {
            Company.Fields.Add(result);
        }
    }

    async private Task DeleteField()
    {

    }

    async private Task UpdateField()
    {

    }
}
