@page "/company/create"

@using UintaPine.CRM.App.Services
@using UintaPine.CRM.Model.Shared.Responses
@using UintaPine.CRM.Model.Shared.Requests

@inject API _api
@inject AppState _appState
@inject IToastService toastService
@inject NavigationManager _navigationManger
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage



<h3>Creating a company? Lets take care of that.</h3>
<p>Create a company name. All customers must be part of a company. This company name can be changed at any time.</p>
<div class="mt-1">
    <input type="text" placeholder="Company Name" class="form-control" @bind="CompanyName" />
</div>
<div class="mt-1">
    <input type="button" class="btn btn-info" value="Create Company" @onclick="CreateCompany" />
</div>

@code {

    public string CompanyName { get; set; }

    public async Task CreateCompany()
    {
        //Create a company
        CreateCompany newCompanyContent = new CreateCompany()
        {
            Name = CompanyName
        };
        Company response = await _api.CreateCompany(newCompanyContent);

        if (response != null)
        {
            localStorage.SetItem("company", response.Id);
            _navigationManger.NavigateTo($"customer");
        }
    }
}
