@page "/customers"

@using UintaPine.CRM.App.Services
@using UintaPine.CRM.Model.Shared.Responses

@inject API _api
@inject AppState _appState
@inject IToastService toastService

@if (Companies != null && Companies.Count == 0)
{
    <CompanyCreate />
}
else if (SelectedCompany != null)
{
    <CompanySettings Company="@SelectedCompany" />
    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@@twitter</td>
            </tr>
        </tbody>
    </table>
}

@code {

    List<Company> Companies { get; set; }
    Company SelectedCompany { get; set; }

    async protected override Task OnInitializedAsync()
    {
        await LoadCompanyData();
    }

    private async Task LoadCompanyData()
    {
        var loadCompanyResponse = await _api.GetCompaniesByUser(_appState.User.Id);
        Companies = loadCompanyResponse;

        if(Companies.Count > 0)
        {
            SelectedCompany = Companies.FirstOrDefault();
        }
    }
}
