@page "/customers"

@using UintaPine.CRM.App.Services
@using UintaPine.CRM.Model.Shared

@inject API _api
@inject AppState _appState
@inject IToastService toastService

@if (Company != null && Company?.Id == null)
{
    <CompanyCreate />
}
else if (Company?.Id != null)
{
    <CompanySettings Company="@Company" />
    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@@twitter</td>
            </tr>
        </tbody>
    </table>
}

@code {

    CompanyResponseModel Company { get; set; }

    async protected override Task OnInitializedAsync()
    {
        await LoadCompanyData();
    }
    
    private async Task LoadCompanyData()
    {
        var loadCompanyResponse = await _api.GetCompanyByUser(_appState.User.Id);
        if (loadCompanyResponse == null)
            Company = new CompanyResponseModel();
        else
            Company = loadCompanyResponse;
    }
}
