/*#region Boilerplate*/
html {
    font-family: 'Segoe UI';
}

.loading {
    color: mediumseagreen;
}

.navbar {
    font-weight: 100 !important;
}
.navbar-brand i {
    color: mediumseagreen;
}

.content {
    font-weight: 100 !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 100 !important;
}

/*Mobile View*/
@media (max-width: 767.98px) {
    
}




/*Desktop View*/
@media (min-width: 768px) {

}
/*#endregion*/



@media (min-width: 768px) {
    .signin-left {
        margin-right: 10px;
    }

    .signin-right {
        margin-left: 10px;
    }
}

.pointer {
    cursor: pointer;
}

.list-group-item {
    border: 0px !important;
}

.deleteTagButton:hover {
    color: red;
}

.tag-font {
    color: black;
}

.maroon_background {
    background-color: maroon;
}

.red_background {
    background-color: red;
}

.orange_background {
    background-color: orange;
}

.yellow_background {
    background-color: yellow;
}

.olive_background {
    background-color: olive;
}

.green_background {
    background-color: green;
}

.purple_background {
    background-color: purple;
}

.fuchsia_background {
    background-color: fuchsia;
}

.lime_background {
    background-color: lime;
}

.teal_background {
    background-color: teal;
}

.aqua_background {
    background-color: aqua;
}

.blue_background {
    background-color: blue;
}

.navy_background {
    background-color: navy;
}

.black_background {
    background-color: black;
}

.gray_background {
    background-color: gray;
}

.silver_background {
    background-color: silver;
}



.black_font {
    color: black;
}

.white_font {
    color: white;
}


.createTagName {
    width: 300px !important`;
}


.organization-dropdown-menu {
    min-width: 20em !important;
}

.fields {
    border-top: 2px solid black !important;
}

.new-field {
    background-color: lightgray;
}