@inherits LayoutComponentBase

@using Blazored.Toast.Configuration
@using UintaPine.CRM.App.Services
@using UintaPine.CRM.Model.Shared.Responses

@inject AppState _appState
@inject API _api
@inject NavigationManager _navigationManager
@inject IToastService toastService
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage


<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="4"
                SuccessClass="success-toast-override"
                SuccessIconClass="fa fa-thumbs-up"
                ErrorIconClass="fas fa-exclamation-circle" />

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <NavLink class="navbar-brand nav-link" href="/">
        <i class="fas fa-tree mr-1"></i> <span>Uinta Pine</span>
    </NavLink>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
        </ul>
        @if (_appState.IsInitialized == true)
        {
            @if (_appState?.User?.Email != null)
            {
                <div class="navbar-text">
                    <ul class="navbar-nav mr-auto">
                        @if (_appState.Companies.Count > 0)
                        {
                            <li class="nav-item">
                                <NavLink class="nav-link" href="@($"portal/{_appState.LastOrganizationId}")">
                                    <i class="fas fa-users mr-2"></i>Portal
                                </NavLink>
                            </li>
                            @if (_appState.Companies.Count > 1)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle pointer" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Switch Organization
                                    </a>
                                    <div class="dropdown-menu organization-dropdown-menu" aria-labelledby="navbarDropdown">
                                        @foreach (var organization in _appState.Companies)
                                        {
                                            <NavLink class="nav-link dark-nav-dropdown" href="@($"portal/{organization.Id}")">
                                                <i class="fas fa-exchange-alt mr-2"></i> @organization.Name
                                            </NavLink>
                                        }
                                    </div>
                                </li>
                            }
                        }
                        else
                        {
                            <NavLink class="nav-link" href="organization/create">
                                <i class="fas fa-plus mr-2"></i>New Organization
                            </NavLink>
                        }
                        <li class="nav-item">
                            <NavLink class="nav-link" href="account">
                                Account | @_appState.User.Email
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="" @onclick="SignOut">
                                Sign Out <i class="fas fa-sign-out-alt"></i>
                            </NavLink>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <span class="navbar-text">
                    <NavLink class="nav-link" href="signin">
                        Register/Sign In
                    </NavLink>
                </span>
            }
        }
    </div>
</nav>

<div class="content px-4 py-3">
    @Body
</div>

@code {

    private const string LastOrganizationLabel = "LastOrganizationLabel";

    protected override void OnInitialized()
    {
        _appState.OnChange += StateHasChanged;

        _appState.User = new User()
        {
            Id = localStorage.GetItem<string>("user")
        };
    }

    async protected override Task OnInitializedAsync()
    {

        User user = await _api.GetUserCurrent();
        if (user != null)
        {
            _appState.User = user;
            localStorage.SetItem("user", user.Id);

            _appState.Companies = await _api.GetCompaniesByUser(_appState.User.Id);

            _appState.LastOrganizationId = localStorage.GetItem<string>(LastOrganizationLabel);
            if(_appState.LastOrganizationId == null)
            {
                _appState.LastOrganizationId = _appState.Companies.FirstOrDefault()?.Id;
            }
        }
        else
        {
            localStorage.RemoveItem("user");
        }
        _appState.IsInitialized = true;
    }

    async public Task SignOut()
    {
        await _api.Logout();
        localStorage.RemoveItem("user");

        _appState.User = null;

        _navigationManager.NavigateTo("signin");
    }
}